In [1]:
%%bash
apt-get install openjdk-17-jdk-headless -qq > /dev/null

In [2]:
%%bash
wget -q https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
tar xf spark-3.3.0-bin-hadoop3.tgz

In [3]:
import os
os.environ['JAVA_HOME']='/usr/lib/jvm/java-1.17.0-openjdk-amd64'
os.environ['SPARK_HOME']='/content/spark-3.3.0-bin-hadoop3'

In [4]:
%%bash
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [5]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression,DecisionTreeClassifier,RandomForestClassifier

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#### Программа А

In [ ]:
spark = SparkSession.builder\
    .master('local')\
    .appName("My Spark Session").getOrCreate()
df = spark.read.csv(r"/content/gdrive/MyDrive/brooklyn_sales_map.csv",header=True)
df.show()

+---+--------+--------------------+-----------------------+---------+-----+----+--------+--------------+--------------------+----------------+--------+-----------------+----------------+-----------+---------+----------+----------+-----------------+----------------------+----------+----------+------------+---------+---+------+------+----------+-------+-------+--------+----------+----------+----------+---------+----------+--------+-------------------+---------+---------+---------+---------+--------+--------+-------+-------+-------+---------+---------+---------+-------+---------+---------+--------------------+-------+--------+-------+-------+----------+----------+----------+---------+----------+---------+----------+--------+---------+--------+----------+--------+--------+---------+---------+---+--------+----------+-------+--------+----------+---------+----------+---------+---------+----------+----------+--------------------+--------+--------+--------+-------+--------+--------+----------+-------+---------+-------+------+-------+------+-------+------+---------+----------+----------+----------+----------+----------+-------+----------+-------------+-------------+
|_c0|borough1|        neighborhood|building_class_category|tax_class|block| lot|easement|building_class|            address9|apartment_number|zip_code|residential_units|commercial_units|total_units|land_sqft|gross_sqft|year_built|tax_class_at_sale|building_class_at_sale|sale_price| sale_date|year_of_sale|Borough23| CD|CT2010|CB2010|SchoolDist|Council|ZipCode|FireComp|PolicePrct|HealthCent|HealthArea|SanitBoro|SanitDistr|SanitSub|          Address37|ZoneDist1|ZoneDist2|ZoneDist3|ZoneDist4|Overlay1|Overlay2|SPDist1|SPDist2|SPDist3|LtdHeight|SplitZone|BldgClass|LandUse|Easements|OwnerType|           OwnerName|LotArea|BldgArea|ComArea|ResArea|OfficeArea|RetailArea|GarageArea|StrgeArea|FactryArea|OtherArea|AreaSource|NumBldgs|NumFloors|UnitsRes|UnitsTotal|LotFront|LotDepth|BldgFront|BldgDepth|Ext|ProxCode|IrrLotCode|LotType|BsmtCode|AssessLand|AssessTot|ExemptLand|ExemptTot|YearBuilt|YearAlter1|YearAlter2|            HistDist|Landmark|BuiltFAR|ResidFAR|CommFAR|FacilFAR|BoroCode|       BBL|CondoNo|Tract2010| XCoord|YCoord|ZoneMap|ZMCode|Sanborn|TaxMap|EDesigNum|    APPBBL|   APPDate|PLUTOMapID|FIRM07_FLA|PFIRM15_FL|Version|MAPPLUTO_F|   SHAPE_Leng|   SHAPE_Area|
+---+--------+--------------------+-----------------------+---------+-----+----+--------+--------------+--------------------+----------------+--------+-----------------+----------------+-----------+---------+----------+----------+-----------------+----------------------+----------+----------+------------+---------+---+------+------+----------+-------+-------+--------+----------+----------+----------+---------+----------+--------+-------------------+---------+---------+---------+---------+--------+--------+-------+-------+-------+---------+---------+---------+-------+---------+---------+--------------------+-------+--------+-------+-------+----------+----------+----------+---------+----------+---------+----------+--------+---------+--------+----------+--------+--------+---------+---------+---+--------+----------+-------+--------+----------+---------+----------+---------+---------+----------+----------+--------------------+--------+--------+--------+-------+--------+--------+----------+-------+---------+-------+------+-------+------+-------+------+---------+----------+----------+----------+----------+----------+-------+----------+-------------+-------------+
|  1|       3|  DOWNTOWN-METROTECH|   28  COMMERCIAL CO...|        4|  140|1001|    null|            R5|      330 JAY STREET|           COURT|   11201|                0|               1|          1|        0|         0|      2002|                4|                    R5| 499401179|2008-04-23|        2008|       NA| NA|    NA|    NA|        NA|     NA|     NA|      NA|        NA|        NA|        NA|       NA|        NA|      NA|                 NA|       NA|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|       NA|       NA|     NA|       NA|       NA|                  NA|     NA|      NA|     NA|     NA|        NA|        NA|        NA|       NA|        NA|       NA|        NA|      NA|       NA|      NA|        NA|      NA|      NA|       NA|       NA| NA|      NA|        NA|     NA|      NA|        NA|       NA|        NA|       NA|       NA|        NA|        NA|                  NA|      NA|      NA|      NA|     NA|      NA|      NA|        NA|     NA|       NA|     NA|    NA|     NA|    NA|     NA|    NA|       NA|        NA|        NA|        NA|        NA|        NA|     NA|        NA|           NA|           NA|
|  2|       3|DOWNTOWN-FULTON F...|   29  COMMERCIAL GA...|        4|   54|   1|    null|            G7|       85 JAY STREET|            null|   11201|                0|               0|          0|   134988|         0|         0|                4|                    G7|  3.45e+08|2016-12-20|        2016|       BK|302|    21|  3017|        13|     33|  11201|    L118|        84|        36|      1000|        3|        02|      1B|      87 JAY STREET|  M1-2/R8|       NA|       NA|       NA|      NA|      NA|   MX-2|     NA|     NA|       NA|        N|       G7|     10|        0|        P|85 JAY STREET BRO...| 134988|       0|      0|      0|         0|         0|         0|        0|         0|        0|         7|       0|        0|       0|         0|   490.5|  275.33|        0|        0| NA|       0|         N|      5|       5|   1571850|  1571850|   1571850|  1571850|        0|         0|         0|                  NA|      NA|       0|     7.2|      2|     6.5|       3|3000540001|      0|     0021| 988208|195011|    12d|    NA|302 016| 30101|       NA|3000540001|12/06/2002|         1|        NA|        NA| 17V1.1|         0|1559.88914353|140131.577176|
|  3|       3|    BROOKLYN HEIGHTS|   21  OFFICE BUILDINGS|        4|  204|   1|    null|            O6| 29 COLUMBIA HEIGHTS|            null|   11201|                0|               0|          0|    32000|    304650|      1924|                4|                    O6|   3.4e+08|2016-08-03|        2016|       BK|302|     1|  1003|        13|     33|  11201|    E205|        84|        38|      2300|        3|        02|      1A|29 COLUMBIA HEIGHTS|     M2-1|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|        N|       O6|     05|        0|       NA|25-30 COLUMBIA HE...|  32000|  304650| 304650|      0|    264750|         0|         0|        0|         0|    39900|         2|       1|       13|       0|         0|   92.42|  335.92|      335|       92| NA|       0|         Y|      3|       5|   1548000| 25463250|         0|        0|     1924|      1980|         0|                  NA|      NA|    9.52|       0|      2|       0|       3|3002040001|      0|     0001| 985952|195007|    12d|    NA|302 004| 30106|       NA|         0|        NA|         1|        NA|        NA| 17V1.1|         0|890.718521021|34656.4472405|
|  4|       3|          MILL BASIN|    22  STORE BUILDINGS|        4| 8470|  55|    null|            K6|       5120 AVENUE U|            null|   11234|                0|             123|        123|   905000|   2548000|      1970|                4|                    K6| 276947000|2012-11-28|        2012|       BK|318|   698|  2005|        22|     46|  11234|    E323|        63|        35|      8822|        3|        18|      4E|      5120 AVENUE U|     M3-1|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|        N|       K6|     05|        1|       NA|BROOKLYN KINGS PLAZA| 905000| 2548000|2548000|      0|         0|   1263000|   1285000|        0|         0|        0|         2|       4|        2|       0|       123|     930|     859|        0|        0| NA|       0|         Y|      3|       5|  36532350|149792400|         0|        0|     1970|         0|         0|                  NA|      NA|    2.82|       0|      2|       0|       3|3084700055|      0|     0698|1006597|161424|    23b|    NA|319 077| 32502|       NA|         0|        NA|         1|         1|         1| 17V1.1|         0|3729.78685686|797554.847834|
|  5|       3|    BROOKLYN HEIGHTS|        26 OTHER HOTELS|        4|  230|   1|    null|            H8|     21 CLARK STREET|            null|   11201|                0|               1|          1|    20267|    356000|      1927|                4|                    H8| 202500000|2017-10-31|        2017|       BK|302|  3.01|  2000|        13|     33|  11201|    E205|        84|        38|      2300|        3|        02|      1A|   79 WILLOW STREET|       R6|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|     LH-1|        N|       H8|     08|        0|        X|WATCHTOWER C/O RE...|  20267|  356000|  30000|      0|     30000|         0|         0|        0|         0|        0|         2|       1|       15|       0|         1|     202|  100.33|      202|   100.33| NA|       0|         N|      3|       2|   2250000| 27166050|   2250000| 27166050|     1927|      1998|      2000|Brooklyn Heights ...|      NA|   17.57|    2.43|      0|     4.8|       3|3002300001|      0|   000301| 985622|193713|    12d|    NA|302 014| 30106|       NA|         0|        NA|         1|        NA|        NA| 17V1.1|         0|620.761169374|21360.1476315|
|  6|       3|  WILLIAMSBURG-SOUTH|   31  COMMERCIAL VA...|        4| 2428|   1|    null|            V1|     329 KENT AVENUE|            null|   11249|                0|               0|          0|    57600|         0|         0|                4|                    V1| 185445000|2012-10-11|        2012|       BK|301|   551|  1009|        14|     33|  11249|    E221|        90|        30|       400|        3|        01|      2B|    325 KENT AVENUE|       R6|       NA|       NA|       NA|    C2-4|      NA|     NA|     NA|     NA|       NA|        N|       D7|     04|        0|       NA|        325 KENT LLC|  57600|  382746|  11200| 371546|      1822|      9378|         0|        0|         0|        0|         2|       1|        0|     522|       525|     180|     320|      179|      315| NA|       0|         N|      3|       5|   3110400|  5579990|         0|        0|     2015|         0|         0|                  NA|      NA|    6.64|    2.43|      0|     4.8|       3|3024280001|      0|     0551| 993500|199202|    12d|    NA|303 007| 30806|    E-337|         0|        NA|         1|        NA|        NA| 17V1.1|         0|1006.33799946|58564.8643115|
|  7|       3|    BROOKLYN HEIGHTS|    21 OFFICE BUILDINGS|        4|  250|  44|    null|            O4|     16 COURT STREET|            null|   11241|                0|             102|        102|    12500|    290440|      1928|                4|                    O4|  1.71e+08|2017-10-10|        2017|       BK|302|     9|  1001|        13|     33|  11241|    E205|        84|        38|      2300|        3|        02|      1B|    16 COURT STREET|    C5-2A|       NA|       NA|       NA|      NA|      NA|     DB|     NA|     NA|       NA|        N|       O4|     05|        0|        P|16 COURT STREET O...|  12500|  290440| 290440|      0|    274500|     15940|         0|        0|         0|        0|         2|       1|       37|       0|       102|     100|     125|       92|      125| NA|       0|         Y|      3|       2|   2448000| 28309500|         0| 11304900|     1928|      2009|         0|Borough Hall Skys...|      NA|   23.24|      10|     10|      10|       3|3002500044|      0|     0009| 986784|191977|    12d|    NA|302 018| 30107|       NA|         0|        NA|         1|        NA|        NA| 17V1.1|         0|460.031680123| 12947.145471|
|  8|       3|  WILLIAMSBURG-NORTH|   08  RENTALS - ELE...|        2| 2307|   1|    null|            D8|     250 N 10 STREET|            null|   11211|              234|               3|        237|    50173|    241764|      2012|                2|                    D8|  1.69e+08|2015-05-01|        2015|       BK|301|   519|  1006|        14|     33|  11211|    E229|        94|        30|       700|        3|        01|      3B|236 NORTH 10 STREET| M1-2/R6A|       NA|       NA|       NA|      NA|      NA|   MX-8|     NA|     NA|       NA|        N|       D8|     03|        0|        P|BRKLYN NY 250 N 10TH|  50173|  241764|  27900| 213864|      4200|         0|     22200|     1500|         0|        0|         2|       1|        6|     234|       237|  521.25|     200|      500|      100| NA|       1|         N|      1|       2|   1354500| 23965650|    932847| 23543997|     2012|      2012|         0|                  NA|      NA|    4.82|       3|      2|       3|       3|3023070001|      0|     0519| 997307|200618|    13a|    NA|304 018| 30804|    E-138|3023070001|10/08/2013|         1|         1|        NA| 17V1.1|         0|1385.27352839|50772.6248688|
|  9|       3|  WILLIAMSBURG-SOUTH|   29  COMMERCIAL GA...|        4| 2128|   5|    null|            G7|     418 KENT AVENUE|            null|   11249|                0|               0|          0|    44704|         0|         0|                4|                    G7|  1.65e+08|2015-02-04|        2015|       BK|301|   549|  2006|        14|     33|  11249|    E221|        90|        30|       500|        3|        01|      4A|    418 KENT AVENUE|     R7-3|     C4-3|       NA|       NA|    C2-4|      NA|     NA|     NA|     NA|       NA|        Y|       D1|     03|        0|       NA| 420 KENT AVENUE LLC|  44704|  463427|   4884| 458543|         0|      4884|         0|        0|         0|        0|         2|       2|       20|     470|       472|  225.08|  281.86|        0|        0| NA|       0|         Y|      5|       5|   1699200|  3534300|         0|        0|     2016|         0|         0|                  NA|      NA|   10.37|       5|      0|       5|       3|3021280005|      0|     0549| 992807|198027|    12d|    NA|303 006| 30801|     R-47|3021280005|10/29/2014|         1|         1|         1| 17V1.1|         0|992.915660585|47019.5677861|
| 10|       3|           NAVY YARD|         30  WAREHOUSES|        4| 1876|   1|    null|            E9|        9-47 HALL ST|            null|   11205|                0|               1|          1|   113800|    547000|      1912|                4|                    E9|  1.61e+08|2016-03-04|        2016|       BK|302|   543|  2003|        14|     35|  11205|    L119|        88|        36|      9300|        3|        02|      4E|     39 HALL STREET|     M1-2|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|        N|       E9|     06|        0|        P|RXR 9-47 HALL STREET| 113800|  547000| 547000|      0|         0|         0|         0|        0|    547000|        0|         2|      13|        8|       0|         1|     569|     204|      304|    80.92| NA|       0|         Y|      3|       5|   1282500| 11295000|         0|        0|     1912|         0|         0|                  NA|      NA|    4.81|       0|      2|     4.8|       3|3018760001|      0|     0543| 993650|193137|    12d|    NA|302 049| 30701|       NA|         0|        NA|         1|        NA|        NA| 17V1.1|         0|1565.91477261|118754.785737|
| 11|       3|  WILLIAMSBURG-NORTH|   41 TAX CLASS 4 - ...|        4| 2287|  16|    null|            Z9|  20 NORTH 12 STREET|            null|   11249|                0|               0|          0|    60400|         0|         0|                4|                    Z9|   1.6e+08|2017-04-19|        2017|       BK|301|   557|  2001|        14|     33|  11249|    L106|        94|        30|       400|        3|        01|      NA| 20 NORTH 12 STREET|     M3-1|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|        N|       Z9|     NA|        0|        P|     10TH STREET LLC|  60400|       0|      0|      0|         0|         0|         0|        0|         0|        0|         7|       1|        0|       0|         0|     302|     200|        0|        0| NA|       0|         N|      5|       5|    504900|   504900|         0|        0|        0|         0|         0|                  NA|      NA|       0|       0|      2|       0|       3|3022870016|      0|     0557| 995151|202986|    12c|    NA|304 003| 30804|    E-138|         0|        NA|         1|         1|         1| 17V1.1|         0|1031.12366578|63814.7107802|
| 12|       3|         FORT GREENE|   31  COMMERCIAL VA...|        4| 2094|   1|    null|            V1|          625 FULTON|            null|   11217|                0|               0|          0|    62472|         0|         0|                4|                    V1|  1.58e+08|2016-01-13|        2016|       BK|302|    33|  2003|        13|     35|  11201|    E226|        88|        36|      1200|        3|        02|      1B|  625 FULTON STREET|     C6-4|       NA|       NA|       NA|      NA|      NA|     DB|     NA|     NA|       NA|        N|       V1|     11|        0|        P|    625 FULTON A LLC|  62472|       0|      0|      0|         0|         0|         0|        0|         0|        0|         4|       0|        0|       0|         0|      83|     307|        0|        0| NA|       0|         Y|      5|       5|   2811420|  2811420|         0|        0|        0|         0|         0|                  NA|      NA|       0|      10|     10|      10|       3|3020940001|      0|     0033| 989829|190359|    16c|    NA|302 026| 30706|       NA|3020940001|01/03/2008|         1|        NA|        NA| 17V1.1|         0|1056.81154834|63393.1018337|
| 13|       3|DOWNTOWN-FULTON MALL|      11A CONDO-RENTALS|        2|  165|1001|    null|            RR|236 LIVINGSTON ST...|            LIHU|   11201|                8|               3|         11|    18175|      5802|      2009|                2|                    RR| 154250000|2016-12-15|        2016|       NA| NA|    NA|    NA|        NA|     NA|     NA|      NA|        NA|        NA|        NA|       NA|        NA|      NA|                 NA|       NA|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|       NA|       NA|     NA|       NA|       NA|                  NA|     NA|      NA|     NA|     NA|        NA|        NA|        NA|       NA|        NA|       NA|        NA|      NA|       NA|      NA|        NA|      NA|      NA|       NA|       NA| NA|      NA|        NA|     NA|      NA|        NA|       NA|        NA|       NA|       NA|        NA|        NA|                  NA|      NA|      NA|      NA|     NA|      NA|      NA|        NA|     NA|       NA|     NA|    NA|     NA|    NA|     NA|    NA|       NA|        NA|        NA|        NA|        NA|        NA|     NA|        NA|           NA|           NA|
| 14|       3|  DOWNTOWN-METROTECH|    21 OFFICE BUILDINGS|        4|   63|   1|    null|            O6|  55 PROSPECT STREET|            null|   11201|                0|               2|          2|    20704|    253096|      1967|                4|                    O6| 138106368|2017-03-31|        2017|       BK|302|    21|  2029|        13|     33|  11201|    L118|        84|        36|      1000|        3|        02|      1B|   107 ADAMS STREET|     M1-6|       NA|       NA|       NA|      NA|      NA|     NA|     NA|     NA|       NA|        N|       O6|     05|        0|       NA|55 PROSPECT OWNER...|  20704|  253096| 253096|      0|    233705|     19391|         0|        0|         0|        0|         2|       1|       11|       0|         2|  100.75|     206|      100|      205| NA|       2|         Y|      3|       0|    544500| 17237700|         0|        0|     1967|      2014|         0|                  NA|      NA|   12.22|       0|     10|      10|       3|3000630001|      0|     0021| 987524|194630|    12d|    NA|302 015| 30102|       NA|         0|        NA|         1|        NA|        NA| 17V1.1|         0|621.710683646|21360.0301893|

##### Задание 1

In [ ]:
df.printSchema()

In [ ]:
df.select('year_built').show()

+----------+
|year_built|
+----------+
|      2002|
|         0|
|      1924|
|      1970|
|      1927|
|         0|
|      1928|
|      2012|
|         0|
|      1912|
|         0|
|         0|
|      2009|
|      1967|
|      1920|
|      1992|
|      1920|
|      2014|
|         0|
|      1962|
+----------+
only showing top 20 rows

In [ ]:
year_built_mean = df.select('year_built').groupBy().agg(F.mean('year_built').alias('mean'))
year_built_mean_val = year_built_mean.collect()[0]['mean']
print("Средний год постройки жилья:", year_built_mean_val)

Средний год постройки жилья: 1701.6663067976863

In [ ]:
df_year_buit_and_deviation = df.select('year_built')
df_year_buit_and_deviation = df_year_buit_and_deviation.withColumn('deviation, %', (df_year_buit_and_deviation.year_built - year_built_mean_val) / df_year_buit_and_deviation.year_built * 100)
df_year_buit_and_deviation.show()

+----------+------------------+
|year_built|      deviation, %|
+----------+------------------+
|      2002|15.001682977138547|
|         0|              null|
|      1924|11.555805259995516|
|      1970|13.620999654939784|
|      1927|11.693497312003826|
|         0|              null|
|      1928|11.739299439954031|
|      2012|15.424139821188554|
|         0|              null|
|      1912|11.000716171669128|
|         0|              null|
|         0|              null|
|      2009|15.297844360493466|
|      1967|13.489257407336744|
|      1920| 11.37154652095384|
|      1992|14.574984598509724|
|      1920| 11.37154652095384|
|      2014|15.508127765755397|
|         0|              null|
|      1962|13.268791702462474|
+----------+------------------+
only showing top 20 rows

##### Задание 2

Мы можем использовать методы groupBy() и agg() для подсчета количества различных домов для каждой улицы.

Этот код создает DataFrame с данными, группирует данные по столбцу "address9" и использует функцию countDistinct() для подсчета количества уникальных значений в столбце "building_class_category".

Метод F.countDistinct() является функцией в модуле pyspark.sql.functions Apache Spark. Он используется для подсчета количества уникальных значений в столбце DataFrame.

In [ ]:
df_street_building = df.groupBy('address9').agg(F.countDistinct('building_class_category').alias("Number of unique houses on the street"))
df_street_building.show()

+--------------------+-------------------------------------+
|            address9|Number of unique houses on the street|
+--------------------+-------------------------------------+
|119 NORTH 11TH ST...|                                    0|
|6609 FORT HAMILTO...|                                    1|
|        784 4 AVENUE|                                    1|
|   8704-08 18 AVENUE|                                    3|
|   228 QUINCY STREET|                                    1|
|285 PROSPECT PLAC...|                                    1|
|1626-1628 UTICA A...|                                    1|
|2700 VOORHIES AVENUE|                                    1|
|999 EAST 108TH ST...|                                    1|
|60 PINEAPPLE STRE...|                                    1|
|     547 49TH STREET|                                    1|
|    6614 14TH AVENUE|                                    1|
|   151 11TH   STREET|                                    1|
|400 EAST 17TH STR...|                                    1|
|1577 EAST 17TH ST...|                                    1|
|  1081 FULTON STREET|                                    1|
| 66 EAST 52ND STREET|                                    1|
| 38 EAST 16TH STREET|                                    1|
|938 PRESIDENT STR...|                                    1|
|  2041 WEST 7 STREET|                                    1|
+--------------------+-------------------------------------+
only showing top 20 rows

##### Задание 3

Для сортировки датасета по нескольким столбцам одновременно в PySpark, вы можете использовать метод orderBy().

In [ ]:
# Сортировка датасета по возрастанию цены продажи и убыванию индексов
sorted_df = df.orderBy('sale_price', df['zip_code'].desc())
# Выводим результат
sorted_df.select('sale_price','zip_code').show()

+----------+--------+
|sale_price|zip_code|
+----------+--------+
|         0|   33803|
|         0|   33803|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11416|
|         0|   11249|
|         0|   11249|
|         0|   11249|
|         0|   11249|
|         0|   11249|
|         0|   11249|
|         0|   11249|
|         0|   11249|
+----------+--------+
only showing top 20 rows

##### Задание 4

In [ ]:
# Группируем данные по соседству и категории класса здания и считаем максимальную цену продажи и количество зданий
sorted_df = df.groupBy('neighborhood', 'building_class_category')\
    .agg(F.max('sale_price').alias('max_sale_price'), F.count('*').alias('building_count'))\
    .orderBy('neighborhood', 'building_class_category')

В приведенном примере создается DataFrame с данными, а затем с помощью методов groupBy(), agg() и max() группируются данные по столбцам "neighborhood" и "building_class_category". Затем применяется агрегатная функция max() для подсчета наибольшей цены продажи и используется count() для подсчета количества зданий. Результат сохраняется в DataFrame sorted_df и выводится на экран с помощью метода show().

In [ ]:
sorted_df.select('neighborhood','building_count','max_sale_price').show()

+------------+--------------+--------------+
|neighborhood|building_count|max_sale_price|
+------------+--------------+--------------+
|        3004|             2|        346788|
|        3019|             1|             0|
|  BATH BEACH|             6|             0|
|  BATH BEACH|           509|         9e+05|
|  BATH BEACH|          1808|         9e+05|
|  BATH BEACH|           756|         9e+05|
|  BATH BEACH|           450|        753505|
|  BATH BEACH|            20|         7e+05|
|  BATH BEACH|            28|        960000|
|  BATH BEACH|             3|             0|
|  BATH BEACH|           207|        999988|
|  BATH BEACH|            11|        850000|
|  BATH BEACH|            19|        855421|
|  BATH BEACH|           406|         94000|
|  BATH BEACH|            24|        435000|
|  BATH BEACH|           102|         98000|
|  BATH BEACH|             4|        399000|
|  BATH BEACH|            69|        550000|
|  BATH BEACH|             6|        780000|
|  BATH BEACH|            71|        840056|
+------------+--------------+--------------+
only showing top 20 rows

In [ ]:
# Закрытие сессии
spark.stop()

#### Программа B

In [37]:
spark = SparkSession.builder\
    .master('local')\
    .appName("My Spark Session").getOrCreate()
df = spark.read.csv(r"/content/gdrive/MyDrive/smoke_detection_iot.csv",header=True)
df.show()

+---+----------+--------------+-----------+---------+---------+------+-----------+-------------+-----+-----+-----+-----+-----+---+----------+
|_c0|       UTC|Temperature[C]|Humidity[%]|TVOC[ppb]|eCO2[ppm]|Raw H2|Raw Ethanol|Pressure[hPa]|PM1.0|PM2.5|NC0.5|NC1.0|NC2.5|CNT|Fire Alarm|
+---+----------+--------------+-----------+---------+---------+------+-----------+-------------+-----+-----+-----+-----+-----+---+----------+
|  0|1654733331|          20.0|      57.36|        0|      400| 12306|      18520|      939.735|  0.0|  0.0|  0.0|  0.0|  0.0|  0|         0|
|  1|1654733332|        20.015|      56.67|        0|      400| 12345|      18651|      939.744|  0.0|  0.0|  0.0|  0.0|  0.0|  1|         0|
|  2|1654733333|        20.029|      55.96|        0|      400| 12374|      18764|      939.738|  0.0|  0.0|  0.0|  0.0|  0.0|  2|         0|
|  3|1654733334|        20.044|      55.28|        0|      400| 12390|      18849|      939.736|  0.0|  0.0|  0.0|  0.0|  0.0|  3|         0|
|  4|1654733335|        20.059|      54.69|        0|      400| 12403|      18921|      939.744|  0.0|  0.0|  0.0|  0.0|  0.0|  4|         0|
|  5|1654733336|        20.073|      54.12|        0|      400| 12419|      18998|      939.725|  0.0|  0.0|  0.0|  0.0|  0.0|  5|         0|
|  6|1654733337|        20.088|      53.61|        0|      400| 12432|      19058|      939.738|  0.0|  0.0|  0.0|  0.0|  0.0|  6|         0|
|  7|1654733338|        20.103|       53.2|        0|      400| 12439|      19114|      939.758|  0.0|  0.0|  0.0|  0.0|  0.0|  7|         0|
|  8|1654733339|        20.117|      52.81|        0|      400| 12448|      19155|      939.758|  0.0|  0.0|  0.0|  0.0|  0.0|  8|         0|
|  9|1654733340|        20.132|      52.46|        0|      400| 12453|      19195|      939.756|  0.9| 3.78|  0.0|4.369| 2.78|  9|         0|
| 10|1654733341|        20.146|      52.15|        0|      400| 12454|      19230|      939.757| 0.89| 3.71|  0.0|4.289| 2.73| 10|         0|
| 11|1654733342|        20.161|      51.84|        0|      400| 12467|      19264|      939.754| 0.84| 3.51|  0.0|4.053| 2.58| 11|         0|
| 12|1654733343|        20.175|      51.62|        0|      400| 12467|      19299|      939.755| 0.81| 3.38|  0.0|3.909|2.488| 12|         0|
| 13|1654733344|         20.19|      51.39|        0|      400| 12469|      19317|      939.758| 0.74| 3.11|  0.0|3.588|2.284| 13|         0|
| 14|1654733345|        20.204|      51.17|        0|      403| 12468|      19338|      939.742| 0.71| 2.96|  0.0|3.419|2.176| 14|         0|
| 15|1654733346|        20.219|      50.99|        0|      400| 12475|      19362|      939.741| 0.64| 2.66|  0.0|3.077|1.959| 15|         0|
| 16|1654733347|        20.233|      50.86|        0|      400| 12480|      19382|      939.758|  0.6| 2.52|  0.0|2.908|1.851| 16|         0|
| 17|1654733348|        20.248|      50.66|        0|      400| 12477|      19400|      939.764| 0.53| 2.23|  0.0| 2.58|1.642| 17|         0|
| 18|1654733349|        20.262|      50.49|        0|      400| 12481|      19422|      939.761|  0.5|  2.1|  0.0|2.423|1.542| 18|         0|
| 19|1654733350|        20.277|      50.27|        0|      406| 12489|      19451|      939.752| 0.41| 1.72|  0.0|1.987|1.265| 19|         0|
+---+----------+--------------+-----------+---------+---------+------+-----------+-------------+-----+-----+-----+-----+-----+---+----------+
only showing top 20 rows

In [38]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- UTC: string (nullable = true)
 |-- Temperature[C]: string (nullable = true)
 |-- Humidity[%]: string (nullable = true)
 |-- TVOC[ppb]: string (nullable = true)
 |-- eCO2[ppm]: string (nullable = true)
 |-- Raw H2: string (nullable = true)
 |-- Raw Ethanol: string (nullable = true)
 |-- Pressure[hPa]: string (nullable = true)
 |-- PM1.0: string (nullable = true)
 |-- PM2.5: string (nullable = true)
 |-- NC0.5: string (nullable = true)
 |-- NC1.0: string (nullable = true)
 |-- NC2.5: string (nullable = true)
 |-- CNT: string (nullable = true)
 |-- Fire Alarm: string (nullable = true)

In [39]:
new_column_names = ['_c0','UTC','Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM10','PM25','NC05','NC10','NC25','CNT','Fire Alarm']
df = df.toDF(*new_column_names)
df.columns

['_c0',
 'UTC',
 'Temperature[C]',
 'Humidity[%]',
 'TVOC[ppb]',
 'eCO2[ppm]',
 'Raw H2',
 'Raw Ethanol',
 'Pressure[hPa]',
 'PM10',
 'PM25',
 'NC05',
 'NC10',
 'NC25',
 'CNT',
 'Fire Alarm']

In [40]:
feature_columns = ['_c0','UTC','Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM10','PM25','NC05','NC10','NC25','CNT']
target_column = ['Fire Alarm']

all_columns = feature_columns + target_column

In [41]:
string_col_2_float = ['PM10', 'NC10', 'PM25', 'NC05', 'NC25', 'Humidity[%]', 'Pressure[hPa]', 'Temperature[C]']

In [42]:
# Из string в numeric
for column in all_columns:
  if column in string_col_2_float:
    df = df.withColumn(column, F.col(column).cast('Double'))
  else:
    df = df.withColumn(column, F.col(column).cast('Integer'))

In [43]:
def df_2_vector(dataframe, inputCols, outputCol):
  assembler = VectorAssembler(
  inputCols=inputCols, outputCol=outputCol)
  assembled_df = assembler.transform(dataframe)
  return assembled_df.randomSplit([0.8, 0.2])

In [44]:
cols = feature_columns
train_df, test_df = df_2_vector(df, cols, 'vectorized_data')

In [45]:
cell_value = train_df.collect()[2]['vectorized_data']
print(cell_value)

[3.0,1654733334.0,20.044,55.28,0.0,400.0,12390.0,18849.0,939.736,0.0,0.0,0.0,0.0,0.0,3.0]

##### Логистическая регрессия

In [46]:
logistic_regression_model = LogisticRegression(labelCol= 'Fire Alarm', featuresCol = 'vectorized_data', maxIter=10000, regParam=0.1, elasticNetParam=0.8)
model_lr = logistic_regression_model.fit(train_df)

In [47]:
predictions_lr = model_lr.transform(test_df)

In [48]:
type(predictions_lr)

pyspark.sql.dataframe.DataFrame

In [49]:
predictions_lr.select('Fire Alarm','probability','prediction').show(truncate=False)

+----------+----------------------------------------+----------+
|Fire Alarm|probability                             |prediction|
+----------+----------------------------------------+----------+
|0         |[0.4942754172404245,0.5057245827595755] |1.0       |
|0         |[0.5019699171808899,0.4980300828191101] |0.0       |
|0         |[0.502772051440455,0.497227948559545]   |0.0       |
|0         |[0.5031633642885361,0.49683663571146386]|0.0       |
|0         |[0.5043386210021763,0.4956613789978237] |0.0       |
|0         |[0.504926232192021,0.49507376780797896] |0.0       |
|0         |[0.5055360131037703,0.4944639868962297] |0.0       |
|0         |[0.5058116527273412,0.4941883472726588] |0.0       |
|0         |[0.5024062599599176,0.4975937400400824] |0.0       |
|0         |[0.5013156659382825,0.4986843340617175] |0.0       |
|0         |[0.49857032152522174,0.5014296784747783]|1.0       |
|0         |[0.4970911011111644,0.5029088988888356] |1.0       |
|0         |[0.49485422024955245,0.5051457797504475]|1.0       |
|0         |[0.4925604038852548,0.5074395961147452] |1.0       |
|0         |[0.4916885319924637,0.5083114680075362] |1.0       |
|0         |[0.49329784646141983,0.5067021535385802]|1.0       |
|0         |[0.49757315403096086,0.5024268459690391]|1.0       |
|0         |[0.49841294765419475,0.5015870523458053]|1.0       |
|0         |[0.5022260114763398,0.49777398852366017]|0.0       |
|0         |[0.5025198357003644,0.4974801642996356] |0.0       |
+----------+----------------------------------------+----------+
only showing top 20 rows

In [50]:
print('Модель Логистической регрессии. Правильные предсказания')
TP = predictions_lr[(predictions_lr['Fire Alarm']==1)&(predictions_lr['prediction']==1)].count()
print('Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание):',TP)
TN = predictions_lr[(predictions_lr['Fire Alarm']==0)&(predictions_lr['prediction']==0)].count()
print('Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание):',TN)

Модель Логистической регрессии. Правильные предсказания
Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание): 8715
Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание): 2742

In [51]:
print('Модель Логистической регрессии. Ошибки')
FP = predictions_lr[(predictions_lr['Fire Alarm']==0)&(predictions_lr['prediction']==1)].count()
print('Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание):',FP)
FN = predictions_lr[(predictions_lr['Fire Alarm']==1)&(predictions_lr['prediction']==0)].count()
print('Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание):',FN)

Модель Логистической регрессии. Ошибки
Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание): 829
Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание): 239

In [52]:
#Метрики качества моделей
#Accuracy - Верность  Acc. = (TP+TN)/(TP+TN+FP+FN)
acc_lr = (TP+TN)/(TP+TN+FP+FN)
print('Верность модели (логистическая регрессия):', round(acc_lr,2))

#Precision - Точность Prec. = TP/(TP+FP)
precision_lr = TP/(TP+FP)
print('Точность модели (логистическая регрессия):', round(precision_lr,2))

#Recall - Полнота Recall = TP/(TP+FN)
recall_lr = TP/(TP+FN)
print('Полнота модели (логистическая регрессия):', round(recall_lr,2))

Верность модели (логистическая регрессия): 0.91
Точность модели (логистическая регрессия): 0.91
Полнота модели (логистическая регрессия): 0.97

##### Дерево решений

In [53]:
#Decision Tree Model
tree_model = DecisionTreeClassifier(featuresCol='vectorized_data',
                                  labelCol='Fire Alarm',maxDepth=3).fit(train_df)

tree_predictions = tree_model.transform(test_df)

In [54]:
tree_predictions.select('Fire Alarm','probability','prediction').show(truncate=False)

+----------+----------------------------------------+----------+
|Fire Alarm|probability                             |prediction|
+----------+----------------------------------------+----------+
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
|0         |[0.9349548842683405,0.06504511573165947]|0.0       |
+----------+----------------------------------------+----------+
only showing top 20 rows

In [55]:
print('Модель Дерева решений. Правильные предсказания')
TP = tree_predictions[(tree_predictions['Fire Alarm']==1)&(tree_predictions['prediction']==1)].count()
print('Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание):',TP)
TN = tree_predictions[(tree_predictions['Fire Alarm']==0)&(tree_predictions['prediction']==0)].count()
print('Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание):',TN)

Модель Дерева решений. Правильные предсказания
Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание): 8716
Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание): 3486

In [56]:
print('Модель Дерева решений. Ошибки')
FP = tree_predictions[(tree_predictions['Fire Alarm']==0)&(tree_predictions['prediction']==1)].count()
print('Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание):',FP)
FN = tree_predictions[(tree_predictions['Fire Alarm']==1)&(tree_predictions['prediction']==0)].count()
print('Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание):',FN)

Модель Дерева решений. Ошибки
Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание): 85
Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание): 238

In [57]:
#Метрики качества моделей
#Accuracy - Верность  Acc. = (TP+TN)/(TP+TN+FP+FN)
acc_tree = (TP+TN)/(TP+TN+FP+FN)
print('Верность модели (дерево решений):', round(acc_tree,2))

#Precision - Точность Prec. = TP/(TP+FP)
precision_tree = TP/(TP+FP)
print('Точность модели (дерево решений):', round(precision_tree,2))

#Recall - Полнота Recall = TP/(TP+FN)
recall_tree = TP/(TP+FN)
print('Полнота модели (дерево решений):', round(recall_tree,2))

Верность модели (дерево решений): 0.97
Точность модели (дерево решений): 0.99
Полнота модели (дерево решений): 0.97

##### Случайный лес

In [58]:
rf_model = RandomForestClassifier(featuresCol='vectorized_data',
                                  labelCol='Fire Alarm',maxDepth=5, numTrees=5).fit(train_df)

rf_predictions = rf_model.transform(test_df)
rf_predictions.select('Fire Alarm','probability','prediction').show(truncate=False)

+----------+-----------------------------------------+----------+
|Fire Alarm|probability                              |prediction|
+----------+-----------------------------------------+----------+
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9929427568943373,0.00705724310566278] |0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
|0         |[0.9998393086184751,1.606913815248496E-4]|0.0       |
+----------+-----------------------------------------+----------+
only showing top 20 rows

In [59]:
print('Модель Случайного леса. Правильные предсказания')
TP = rf_predictions[(rf_predictions['Fire Alarm']==1)&(rf_predictions['prediction']==1)].count()
print('Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание):',TP)
TN = rf_predictions[(rf_predictions['Fire Alarm']==0)&(rf_predictions['prediction']==0)].count()
print('Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание):',TN)

Модель Случайного леса. Правильные предсказания
Количество верно идентифицированных угроз пожарной тревоги (правильное предсказание): 8954
Количество верно идентифицированных не угроз пожарной тревоги (правильное предсказание): 3566

In [60]:
print('Модель Случайного леса. Ошибки')
FP = rf_predictions[(rf_predictions['Fire Alarm']==0)&(rf_predictions['prediction']==1)].count()
print('Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание):',FP)
FN = rf_predictions[(rf_predictions['Fire Alarm']==1)&(rf_predictions['prediction']==0)].count()
print('Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание):',FN)

Модель Случайного леса. Ошибки
Количество ложно идентифицированных не угроз пожарной тревоги (ошибочное предсказание): 5
Количество ложно идентифицированных угроз пожарной тревоги (ошибочное предсказание): 0

In [63]:
#Метрики качества моделей
#Accuracy - Верность  Acc. = (TP+TN)/(TP+TN+FP+FN)
acc_rf = (TP+TN)/(TP+TN+FP+FN)
print('Верность модели (случайный лес):', round(acc_rf,4))

#Precision - Точность Prec. = TP/(TP+FP)
precision_rf = TP/(TP+FP)
print('Точность модели (случайный лес):', round(precision_rf,4))

#Recall - Полнота Recall = TP/(TP+FN)
recall_rf = TP/(TP+FN)
print('Полнота модели (случайный лес):', round(recall_rf,4))

Верность модели (случайный лес): 0.9996
Точность модели (случайный лес): 0.9994
Полнота модели (случайный лес): 1.0

In [62]:
# Закрытие сессии
spark.stop()

#### Программа C

In [16]:
from itertools import islice
from pyspark import SparkContext
from pyspark.sql.functions import col

In [8]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

# Создание SparkContext
sc = spark.sparkContext

In [15]:
def take(n, iterable):
    return list(islice(iterable, n))

def sort_dict_by_value(dict, reverse=True):
    return {key: value for key, value in sorted(dict.items(), key=lambda x: x[1], reverse=reverse)}

##### 10 самых популярных хештегов

In [35]:
main_df = spark.read.csv('/content/gdrive/MyDrive/FIFA.csv', header=True, multiLine=True, escape="\"")

groupedHashTagsByCount = main_df.rdd \
    .filter(lambda x: x['Hashtags'] != None) \
    .flatMap(lambda x: x['Hashtags'].split(',')) \
    .countByValue()
groupedHashTagsByCountSorted = sort_dict_by_value(groupedHashTagsByCount)
top10Hashtags =take(10, groupedHashTagsByCountSorted.items())
top10HashtagsDf = spark.createDataFrame(data=top10Hashtags, schema = ["hashtag","count"])
print('10 наиболее упоминаемых хэштегов')
top10HashtagsDf.show()

10 наиболее упоминаемых хэштегов
+-------------+------+
|      hashtag| count|
+-------------+------+
|     WorldCup|398744|
|          FRA| 66128|
|     worldcup| 33195|
|          CRO| 32274|
|WorldCupFinal| 28446|
|          ENG| 25165|
|       FRAARG| 21413|
|       FRABEL| 18862|
|       FRACRO| 17982|
|          BEL| 15728|
+-------------+------+

##### 10 самых популярных столиц, из которых отправляли твиты

In [36]:
capitals_df = spark.read.csv('country-list.csv', header=True, multiLine=True, escape="\"")
capitals_df = capitals_df.drop('country', 'type')

new_df = main_df.join(capitals_df, capitals_df.capital == main_df.Place, "leftouter")

groupedCapitalsByCount = new_df.rdd\
    .filter(lambda x: x['capital'] != None)\
    .map(lambda x: x['Place'])\
    .countByValue()\

groupedCapitalsByCountSorted = sort_dict_by_value(groupedCapitalsByCount)
top10Capitals =take(10, groupedCapitalsByCountSorted.items())
top10CapitalsDf = spark\
    .createDataFrame(data=top10Capitals, schema = ["capital","count"])
print('10 столиц, из которых твиты отправлялись наиболее часто')
top10CapitalsDf.show()

AnalysisException: ignored

##### Столицы, с самыми популярными хештегами в топ 10 хештегов

In [ ]:
new_df = new_df\
.filter(col('capital').isNotNull())\
.drop(col('capital'))\
.join(top10CapitalsDf, top10CapitalsDf.capital == new_df.Place, "leftouter")

capitalhashTagDf = new_df.rdd\
.filter(lambda x: x['capital'] != None) \
.filter(lambda x: x['Hashtags'] != None) \
.flatMap(lambda x: [(x['capital'], hashtag) for hashtag in x['Hashtags'].split(',')])\
.toDF()\
.filter(col('_2') != 'WorldCup')

countedCapitalHashTag = capitalhashTagDf.groupBy('_1', '_2').count()

counted = countedCapitalHashTag\
.groupBy('_1')\
.agg(F.max('count').alias('num_of_hashtags'))\
.withColumnRenamed("_1", "capital")

join_conditions = [countedCapitalHashTag['_1'] == counted['capital'], countedCapitalHashTag['count'] == counted['num_of_hashtags']]
topCapitalsHashTag = counted \
.join(countedCapitalHashTag, join_conditions) \
.filter(col('num_of_hashtags').isNotNull()) \
.drop(col('_1')) \
.drop(col('count'))

topCapitalsHashtagsWhichPopular = topCapitalsHashTag \
.join(top10HashtagsDf, \
    top10HashtagsDf['hashTag'] == topCapitalsHashTag['_2']) \
.filter(col('hashTag').isNotNull()) \
.drop(col('count')) \
.drop(col('_2'))

print('Столицы, у которых самый популярный хэштег относится к 10 самым популярным хэштегам в целом')
topCapitalsHashtagsWhichPopular.show()